:root {
    --card-background: rgba(255, 255, 255, 1);
    --card-link-color: #0074d9;
    --card-border: 1px solid rgba(230,230,230,1);
}

.content-box {
  border: var(--border);
  background-color: var(--card-background);
  box-shadow: var(--box-shadow);

  position: relative;

  overflow: hidden;
  box-sizing: border-box;
  padding: 16px;

  display: flex;
  align-self: stretch;
  flex: 1;

  min-width: 300px;

  .inner {
    width: 100%;
    height: 100%;
    min-height: 100%;
  }

  .content-box-thumb {
    display: block;
    width: 100%;
    height: auto;
    max-height: 160px;
    object-fit: contain;
    object-position: center;
    image-rendering: optimizeQuality;
    image-orientation: from-image;
  }

  .content-box-header {
    font-size: 1.25rem;
    margin: 0.75rem 0rem 0rem 0rem;
  }
  
  a {
    color: var(--card-link-color);
    text-decoration: none;
    font-size: 0.85rem;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }

  .content-box-blurb {
    font-size: 0.85rem;
    display: block;
    display: -webkit-box;
    margin: 0rem;
    max-width: 100%;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 32px;
  }

  .link-container {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}