@import "card.css";

:root {
  --color-green: #31ec56;
  --color-red-bright: #ef036c;
  --color-pink: #ee72f8;
  --color-white: #fff;
  --color-black: #000;
  --box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 0;
  background-color: var(--color-green);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  overflow: hidden;
}

aside {
  width: 56px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 4px;
  background-color: var(--color-white);
  border: 6px solid var(--color-black);
  border-top-right-radius: 16px;
  box-shadow: 6px 9px 0px var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 16px;
  gap: 16px;
}

p {
  margin-block: 2px;
}

div#content {
  margin: 32px;
  border: 6px solid var(--color-black);
  background-color: var(--color-white);
  flex: 1;
  padding: 24px;
  z-index: 2;
  overflow: hidden;

  h1.app-name {
    color: var(--color-red-bright);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
    font-weight: 700;
    text-decoration-color: var(--color-red-bright);
    margin-block: 6px;
    font-size: 56px;
  }
}

div#pink-tube {
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 40px;
  background-color: var(--color-red-bright);
  border: 6px solid var(--color-black);
  border-radius: 30px;
  transform: rotate(-45deg);
  top: -64px;
  right: 200px;
}

@keyframes shake-low {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}

div.description-container {
  margin-top: 24px;
  max-width: 90%;
  text-align: left;
}

div.badge-container {
  display: flex;
  flex-direction: row;
  gap: 16px;

  margin-top: 8px;

  > span.badge {
    box-shadow: var(--box-shadow);
    padding: 6px;
    font-weight: 700;
    font-family: 'Space Mono';
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    align-items: center;
    cursor: not-allowed;
  }

  > span.badge.green {
    background-color: var(--color-green);
    color: var(--color-black);
  }

  > span.badge.red {
    background-color: var(--color-red-bright);
    color: var(--color-black);
  }
}

div.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}

div.suggestion-cards-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  box-sizing: border-box;
  padding: 16px;
}